In [1]:
## None: Pythonic missing data

In [2]:
import pandas as pd
import numpy as np

In [3]:
vals1 = np.array([1, None, 3, 4])
vals1

array([1, None, 3, 4], dtype=object)

In [5]:
for dtype in ['object', 'int']:
    print("dtype =", dtype)
    %timeit np.arange(1E6, dtype=dtype).sum()
    print()

dtype = object
57.9 ms ± 749 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

dtype = int
2.08 ms ± 184 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [6]:
## NaN: Missing numerical data

In [8]:
vals2 = np.array([1, np.nan, 3, 4])
vals2.dtype

dtype('float64')

In [9]:
1 + np.nan

nan

In [10]:
0 * np.nan

nan

In [12]:
vals2.sum(), vals2.min(), vals2.max()

(nan, nan, nan)

In [13]:
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2)

(8.0, 1.0, 4.0)

In [14]:
## NaN and None in Pandas
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [16]:
x = pd.Series(range(2), dtype=int)
x

0    0
1    1
dtype: int64

In [18]:
x[0] = None
x

0    NaN
1    1.0
dtype: float64