In [2]:
## DataFrame  And Series
import pandas as pd
import numpy as np

In [4]:
s = pd.Series([1, 2, 3, 4, 5, np.nan, 8, 9, 10]) #Creating a series
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     NaN
6     8.0
7     9.0
8    10.0
dtype: float64

In [5]:
# Creating a df by passing a np array
d = pd.date_range('20200302', periods=10)
d

DatetimeIndex(['2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05',
               '2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09',
               '2020-03-10', '2020-03-11'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(10, 4), index=d, columns=['A', 'B', 'C', 'D'])

In [7]:
df

                   A         B         C         D
2020-03-02  0.507669  0.887916 -0.122871  0.565091
2020-03-03 -0.310004  0.651240  0.804396  1.329200
2020-03-04  1.984827 -0.603411  1.681715  0.292660
2020-03-05 -0.339359  1.530209 -0.339318 -0.517724
2020-03-06  1.303947  0.825989 -2.044076 -0.808742
2020-03-07 -0.551080  0.766716  0.226339 -0.001390
2020-03-08 -0.818657  0.024901 -0.055670  1.203270
2020-03-09  1.358591 -0.289886  0.863938 -1.175236
2020-03-10  0.475195  0.758151 -0.045578 -0.795962
2020-03-11  0.675203  0.279514  0.588433 -0.367968

In [15]:
# Crating a dataframe by passing a dictionary of objects
df = pd.DataFrame({ 'A' : [1, 2, 3, 4],
                    'B' : pd.Timestamp('20200301'),
                    'C' : pd.Series(1, index=list(range(4)), dtype='float'),
                    'D' : np.array([5]*4, dtype='int32'),
                    'E' : pd.Categorical(['true', 'False', 'True', 'False']),
                    'F' : 'Edureka'
                  })

In [16]:
df

   A          B    C  D      E        F
0  1 2020-03-01  1.0  5   true  Edureka
1  2 2020-03-01  1.0  5  False  Edureka
2  3 2020-03-01  1.0  5   True  Edureka
3  4 2020-03-01  1.0  5  False  Edureka

In [20]:
df.dtypes

A             int64
B    datetime64[ns]
C           float64
D             int32
E          category
F            object
dtype: object