In [25]:
## DataFrame  And Series
import pandas as pd
import numpy as np

In [26]:
s = pd.Series([1, 2, 3, 4, 5, np.nan, 8, 9, 10]) #Creating a series
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     NaN
6     8.0
7     9.0
8    10.0
dtype: float64

In [27]:
# Creating a df by passing a np array
d = pd.date_range('20200302', periods=10)
d

DatetimeIndex(['2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05',
               '2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09',
               '2020-03-10', '2020-03-11'],
              dtype='datetime64[ns]', freq='D')

In [28]:
df = pd.DataFrame(np.random.randn(10, 4), index=d, columns=['A', 'B', 'C', 'D'])

In [29]:
df

                   A         B         C         D
2020-03-02 -0.752225  0.979038 -1.076045 -0.544871
2020-03-03  1.011767  1.261112  0.288427  0.205012
2020-03-04  1.203798  1.549236 -0.405559 -1.388115
2020-03-05  0.362092 -0.254427  0.458794  0.915725
2020-03-06 -0.598379 -0.988254 -1.333481 -1.344499
2020-03-07 -1.343687  0.557788 -0.064980 -1.255824
2020-03-08  1.505841  0.569588 -1.676633  0.334336
2020-03-09 -0.855846 -0.627012  0.451488  1.905217
2020-03-10  0.032749 -0.465731  1.187525  0.361387
2020-03-11  0.205440  0.612187 -0.796379  0.986999

In [30]:
# Crating a dataframe by passing a dictionary of objects
df1 = pd.DataFrame({ 'A' : [1, 2, 3, 4],
                    'B' : pd.Timestamp('20200301'),
                    'C' : pd.Series(1, index=list(range(4)), dtype='float'),
                    'D' : np.array([5]*4, dtype='int32'),
                    'E' : pd.Categorical(['true', 'False', 'True', 'False']),
                    'F' : 'Edureka'
                  })

In [35]:
df1

   A          B    C  D      E        F
0  1 2020-03-01  1.0  5   true  Edureka
1  2 2020-03-01  1.0  5  False  Edureka
2  3 2020-03-01  1.0  5   True  Edureka
3  4 2020-03-01  1.0  5  False  Edureka

In [36]:
df1.dtypes

A             int64
B    datetime64[ns]
C           float64
D             int32
E          category
F            object
dtype: object

In [33]:
## How to view Data

In [34]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [37]:
df.head() ## First 5 values

                   A         B         C         D
2020-03-02 -0.752225  0.979038 -1.076045 -0.544871
2020-03-03  1.011767  1.261112  0.288427  0.205012
2020-03-04  1.203798  1.549236 -0.405559 -1.388115
2020-03-05  0.362092 -0.254427  0.458794  0.915725
2020-03-06 -0.598379 -0.988254 -1.333481 -1.344499

In [38]:
df.tail() # last 5 values

                   A         B         C         D
2020-03-07 -1.343687  0.557788 -0.064980 -1.255824
2020-03-08  1.505841  0.569588 -1.676633  0.334336
2020-03-09 -0.855846 -0.627012  0.451488  1.905217
2020-03-10  0.032749 -0.465731  1.187525  0.361387
2020-03-11  0.205440  0.612187 -0.796379  0.986999

In [40]:
df.index

DatetimeIndex(['2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05',
               '2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09',
               '2020-03-10', '2020-03-11'],
              dtype='datetime64[ns]', freq='D')

In [42]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [45]:
df.to_numpy()

array([[-0.75222495,  0.97903807, -1.07604527, -0.54487107],
       [ 1.01176726,  1.26111235,  0.28842728,  0.20501217],
       [ 1.20379783,  1.54923597, -0.4055593 , -1.38811503],
       [ 0.36209226, -0.25442682,  0.45879443,  0.91572534],
       [-0.59837872, -0.98825447, -1.33348112, -1.34449886],
       [-1.34368663,  0.55778834, -0.06498043, -1.2558237 ],
       [ 1.50584112,  0.56958792, -1.67663311,  0.33433607],
       [-0.85584614, -0.62701225,  0.45148815,  1.90521686],
       [ 0.03274924, -0.46573072,  1.18752474,  0.36138703],
       [ 0.20543954,  0.61218742, -0.79637904,  0.9869986 ]])

In [46]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.077155   0.319353  -0.296684   0.017537
std     0.961312   0.855762   0.917581   1.122122
min    -1.343687  -0.988254  -1.676633  -1.388115
25%    -0.713763  -0.412905  -1.006129  -1.078086
50%     0.119094   0.563688  -0.235270   0.269674
75%     0.849349   0.887325   0.410723   0.777141
max     1.505841   1.549236   1.187525   1.905217

In [49]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-03-02 -0.544871 -1.076045  0.979038 -0.752225
2020-03-03  0.205012  0.288427  1.261112  1.011767
2020-03-04 -1.388115 -0.405559  1.549236  1.203798
2020-03-05  0.915725  0.458794 -0.254427  0.362092
2020-03-06 -1.344499 -1.333481 -0.988254 -0.598379
2020-03-07 -1.255824 -0.064980  0.557788 -1.343687
2020-03-08  0.334336 -1.676633  0.569588  1.505841
2020-03-09  1.905217  0.451488 -0.627012 -0.855846
2020-03-10  0.361387  1.187525 -0.465731  0.032749
2020-03-11  0.986999 -0.796379  0.612187  0.205440

In [53]:
df.sort_values(by='C')

                   A         B         C         D
2020-03-08  1.505841  0.569588 -1.676633  0.334336
2020-03-06 -0.598379 -0.988254 -1.333481 -1.344499
2020-03-02 -0.752225  0.979038 -1.076045 -0.544871
2020-03-11  0.205440  0.612187 -0.796379  0.986999
2020-03-04  1.203798  1.549236 -0.405559 -1.388115
2020-03-07 -1.343687  0.557788 -0.064980 -1.255824
2020-03-03  1.011767  1.261112  0.288427  0.205012
2020-03-09 -0.855846 -0.627012  0.451488  1.905217
2020-03-05  0.362092 -0.254427  0.458794  0.915725
2020-03-10  0.032749 -0.465731  1.187525  0.361387

In [54]:
df['A']

2020-03-02   -0.752225
2020-03-03    1.011767
2020-03-04    1.203798
2020-03-05    0.362092
2020-03-06   -0.598379
2020-03-07   -1.343687
2020-03-08    1.505841
2020-03-09   -0.855846
2020-03-10    0.032749
2020-03-11    0.205440
Freq: D, Name: A, dtype: float64

In [55]:
df[0:3]

                   A         B         C         D
2020-03-02 -0.752225  0.979038 -1.076045 -0.544871
2020-03-03  1.011767  1.261112  0.288427  0.205012
2020-03-04  1.203798  1.549236 -0.405559 -1.388115

In [56]:
df.loc[d[0]]

A   -0.752225
B    0.979038
C   -1.076045
D   -0.544871
Name: 2020-03-02 00:00:00, dtype: float64